/* CSS declarations go here */
.unbolded-label {
	font-weight: normal;
	font-size: 14px;
}

.option-btn {
	width: 100%;
	min-height: 300px;
	font-size: 30px;
	border-radius: 10px;
}

.event-img {
	width: 100%;
}
.details-img {
	width: 100%;
	border: 0px;
}
* {
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif !important;
	font-weight: 700;
}

.navbar-search {
	min-width: 270px;
}

.navbar-no-radius {
	border-radius: 0px;
}

.no-bottom-margin {
	margin-bottom: 0px !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-size: 1.25em;
	font-weight: 500;
	color: black;
	background-color: #eeeeee;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #2ecc71;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}
.js .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.no-js .inputfile + label {
	display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.unbolded-text {
	font-weight: 300;
}
.unselected {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.unselected:hover {
	background-color: #4CAF50; /* Green */
	color: white;
}
.selected-btn {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1.5px 5px 0 rgba(0,0,0,0.19);

}
